{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
  <div class="book-detail">
    <p>
    <h2><a href="">{{ book.title }}</a></h2>
    <p>
      <a class="btn btn-primary"
        href="{% url 'update' book.id %}"
        role="button">
            Update
      </a>
    </p>
    {% if book.cover %}
      <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}
    <ul style="list-style-type:none;">
      <li>Author: {{ book.author }}</li>
      <li>Price: {{ book.price }}</li>
    </ul>
    <div>
        <p>Would you like to add your own review of this book?
            <a class="btn btn-success" href="{% url 'review_create' book.id %}" role="button"> Add a new review
           </a>
        </p>
        <h3>Reviews for <em>{{ book.title }}</em>:</h3>
      <ul>
        {% for review in book.reviews.all %}
        <span>
            <li><a href="{% url 'review_detail' review.id %}">{{ review.review|truncatewords:7 }}</a>
        </span>
        <span class="text-muted"> &middot;  submitted by {{ review.author }} &middot; {{ review.date }}
          {% if request.user == review.author %}
            <a href="{% url 'review_update' review.id %}">Update</a> |
            <a href="{% url 'review_delete' review.id %}">Delete</a> |
          {% else %}
          {% endif %}
            </li>
        {% empty %}
          <p class="text-muted"><em>No reviews have been posted yet.</em></p>
        {% endfor %}
      </ul>
    </div>
    </p>
  </div>
{% endblock content %}
