{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ view.action|default:"Add" }}  Book{% endblock title %}

{% block content %}
<div class="container">
  <p>
    {% with action=view.action|default:"Add" %}
    <h3>{{ action }} a new book</h3>
      <form enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{{ action }}</button>
      </form>
  </p>
</div>
{% endwith %}
{% endblock content %}
