{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h2>Welcome to the Bookstore</h2>
  <p>Search for a book title:</p>
  <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder= "Search" aria-label="Search">
  </form>
  </p>
  <p>
  <img class="image" src="{% static 'images/library_of_babel.jpg' %}">
  </p>
</div>
{% endblock content %}
